# Problem Statement 

# Sales Prediction Using Python

1. Sales prediction involves forcasting the amount of a product that customers will purchase, taking into account vairous factors such as advertising platform selection.

2. In bussiness that offer production or services,the role of a data scientist is crucial for prediction future sales. They utilize machine learning techniques in python to analyze and interpret data, allowing them to make informed decisions regarding advertising coasts. By leveraging these predictions, businesses can optimize their advertising strategies and maximize sales potential. Let's embark on the journey od sales prediction using machine learning in python.

In [1]:
#importing libraries 

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Loading the dataset 

Df=pd.read_csv('Downloads/Advertising.csv')
Df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
Df.shape

(200, 5)

In [4]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [5]:
Df.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [6]:
Df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [7]:
Df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [8]:
X=Df.drop(columns=['Unnamed: 0','Sales'],axis=1)
Y=Df['Sales']

In [9]:
print(X)

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [10]:
print(Y)

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [11]:
# Spliting the training data and test data

X_train, X_test, Y_train, Y_test =train_test_split(X,Y, test_size=0.2, random_state=2)

In [12]:
print(X.shape,X_train.shape,X_test.shape)

(200, 3) (160, 3) (40, 3)

In [13]:
# model Training 

model=LinearRegression()

In [14]:
model.fit(X_train,Y_train)

LinearRegression()

In [15]:
print('intercept:=b0', model.intercept_)
print('slope:=b1 & b2', model.coef_)

intercept:=b0 3.0544520115813842
slope:=b1 & b2 [0.04735257 0.17323832 0.00466519]

In [16]:
X_train_prediction=model.predict(X_train)

In [17]:
print(X_train_prediction)

[21.29995014 17.20629021 21.19085727 14.93544794 19.83406828 18.71196999
 17.40255999  9.98842359  9.53536321 12.2876625  12.63978635 14.56291507
 17.39742969 17.16037478  8.27269304 16.77434692  8.81798422  3.8301498
  7.54396092 24.83273801 19.63736323 19.47643108 10.6163053  21.76426599
 18.38297158 10.28845723 18.90246663  6.28244393  3.86349482  9.1554719
 10.95900544 10.51659209 15.72903137  9.98905125 12.18030755  6.84893877
  4.72661329  9.7367636  14.50160555 19.02256142 23.26594314 23.30401795
 14.68576091 12.71052842 17.19847606 20.82151838 17.42371728 10.48644112
 24.33933074 15.76864728 18.44407626 10.21183774 15.27231757 19.42401704
 13.76397481 22.02820093 15.6469129  23.50002078 18.18555568 14.46430201
 15.02592567  6.89504798 19.42303578  8.5285362  21.59570413 10.46650973
 15.28909988 21.31076299 13.13731039 16.5140188   4.82254423 16.89468993
 14.60368914 13.07683082 17.48226755 12.07203182 13.54449315 10.35517239
  8.40172007 15.62469751 10.30615642 20.77115735  9.96800855 15.55058145
 23.84902283  9.34863684 11.1759688  13.52343657 23.08014119 15.29202124
 19.11132351  8.15659475  8.46126146 14.25898685 11.50615015 17.96398451
  6.03412625  7.86314916 16.65398233  9.67312154  4.73039843 18.21938658
 14.95579877  8.05693508  5.56868163 13.04517892 14.16855402 15.43080004
 17.89787595 10.3153536   6.87982392 18.92694352 10.06915732  5.28475369
 24.06848637 11.06635875 20.53120918  8.42090634 10.14803022  8.17409294
 13.21395012 20.71032807 11.40168543 20.66621531  7.93907744  6.14529421
  9.18358429 11.99568611 21.05254509 12.21020586 24.45726003 21.80487258
 19.0974611   9.88455919 15.01520626  9.4885328   7.49532833  7.51748461
 13.75921781 18.17218468 13.83830776 15.36286141 12.24266682 19.86362199
 11.89086994 11.59498043 13.0846031  21.69003039 16.33840747 16.50824643
 12.62933323 15.23071898 12.19581846 20.30063461 11.84229299 14.43006196
  6.6653886  10.13040376 20.817401   17.6113352 ]

In [18]:
r2=model.score(X_train, Y_train)

In [19]:
print(r2)

0.9151707412454462

In [20]:
Prediction_model=[[100,100,100]]

In [21]:
print('Sales of TV, Radio and Newspaper is :', model.predict(Prediction_model))

Sales of TV, Radio and Newspaper is : [25.58006036]

C:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(